; Apollo configuration file
; copy this file to apollo.ini and edit that file

; this file is read using PHP's INI parsing functions
; the [apollo] section is required

; note: relative paths are not supported at all!

[apollo]
; if this is set to true, Apollo will display detailed information
; (e.g., script file name and line number) when an error occurs
; note: do not use this in a production environment!
debug_mode = false

; if this is set to true, Apollo is disabled for everyone
maintenance_mode = false

; when registering a new user, whether to run the "id" command to see if the
; user account exists on the system
; note: UNIX systems only
check_new_user_exists = false

; PHP time zone of server (see http://php.net/manual/en/timezones.php)
timezone = "America/New_York"

; how long randomly generated access codes should be
code_length = 8

; if this is set to true, Apollo will show newly registered user their access
; code *instead* of e-mailing them
show_access_code = false

; suffix to add after student usernames to send them e-mail
email_suffix = "@example.edu"

; the address from which Apollo sends e-mail, and to where technical
; support requests could be sent
support_email = "support@example.edu"

; mode to use when Apollo creates new files (e.g., when student uploads
; are created)
new_file_mode = 0666

; mode to use when Apollo creates new directories (e.g., when student's
; upload directory is first created)
new_dir_mode = 0777

; directory where hashes of access codes are stored
accounts_dir = ""

; directory where student grading concerns are stored
concerns_dir = ""

; directory where grade files are read
; (this directory should be part of a socrates installation)
dropbox_dir = ""

; the directory from which criteria YAML files are read
; (this directory should be part of a socrates installation)
criteria_dir = ""

; the directory to which uploads are saved
submissions_dir = ""

; path to a presto template (HTML with variables)
; (this directory should be part of a presto installation)
presto_template = ""

; path to template directory (for use with Apollo)
templates_dir = ""
