<a href="index.php" class="button">&larr; To submissions page</a>

<h1>About Apollo</h1>

<p>
The Apollo upload and grading system is a collection of PHP scripts
designed to assist and simplify uploading assignments, as well as
integrate with other grading tools. The first version was written
by Alexander Breen in 2014.
</p>

<p>
This is Apollo version $version.
</p>

<h2>Special thanks</h2>

<ul>
    <li>Dave Sullivan</li>
    <li>Aaron Stevens, whose WebSubmit system served as inspiration
        for Apollo
    </li>
</ul>
