<a href="index.php" class="button">&larr; Back to submissions page</a>

<h1>Grading concerns</h1>

<div class="toc">
    <ul>
        <li><a href="#submitted">Concerns you submitted</a></li>
        <li><a href="#submit">Submit a grading concern</a><ul>
    </ul>
</div>

<h2 id="submitted">Concerns you submitted</h2>

$message

$concernslist

<h2 id="submit">Submit a grading concern</h2>

<p>
If you have a concern about how one of your assignments was graded,
you may use the form below to submit the concern. All fields are required.
</p>

<div class="admonition warning">
    <p class="admonition-title">Warning</p>
    <p>
    <em>Do not</em> submit more than once for a given issue.
    We may not address your concern until the end of the semester.
    </p>
</div>

<form method="post">

<div class="row">
    <div class="left">Full name</div>
    <div class="right">
        <input type="text" required="required" name="name">
    </div>
</div>

<div class="row">
    <div class="left">Kerberos username</div>
    <div class="right"><tt>$username</tt></div>
</div>

<div class="row">
    <div class="left">Problem set</div>
    <div class="right">
        <select required="required" name="ps">
            <option disabled="disabled">Select a problem set</option>
            <option value="Problem Set 0">Problem Set 0</option>
            <option value="Problem Set 1">Problem Set 1</option>
            <option value="Problem Set 2">Problem Set 2</option>
            <option value="Problem Set 3">Problem Set 3</option>
            <option value="Problem Set 4">Problem Set 4</option>
            <option value="Problem Set 5">Problem Set 5</option>
            <option value="Problem Set 6">Problem Set 6</option>
            <option value="Problem Set 7">Problem Set 7</option>
            <option value="Problem Set 8">Problem Set 8</option>
            <option value="Problem Set 9">Problem Set 9</option>
            <option value="Problem Set 10">Problem Set 10</option>
            <option value="Problem Set 11">Problem Set 11</option>
            <option value="Final Project">Final Project</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="left">Issue</div>
    <div class="right">
        <select required="required" name="issue">
            <option disabled="disabled">Select an issue</option>
            <option value="Issue with problem 0">Issue with problem 0</option>
            <option value="Issue with problem 1">Issue with problem 1</option>
            <option value="Issue with problem 2">Issue with problem 2</option>
            <option value="Issue with problem 3">Issue with problem 3</option>
            <option value="Issue with problem 4">Issue with problem 4</option>
            <option value="Issue with problem 5">Issue with problem 5</option>
            <option value="Issue with problem 6">Issue with problem 6</option>
            <option value="Late penalty">Late penalty taken incorrectly</option>
            <option value="Student error">Student error (incorrect file name, etc.)</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="left">Comments</div>

    <div class="right">
        <div class="admonition note">
            <p class="admonition-title">Note</p>
            <p>
            Do not paste the contents of a file into this text area.
            Please <em>describe</em> the issue. If we need a copy
            of your files, we will respond to your concern with a
            request for them.
            </p>
        </div>
        <textarea required="required" maxlength="500" name="comments"></textarea>
    </div>
</div>

<div class="row">
    <div class="left"></div>
    <div class="right">
        <input type="submit" value="Submit">
        <div class="caption">
        We may contact you at <tt>$username@bu.edu</tt> if we need more
        information.
        </div>
    </div>
</div>

<input type="hidden" name="submitted">
</form>
