<a href="index.php">&larr; Back to submissions page</a>

<h1>Grade details for $assignment</h1>

<p>
Showing <tt>$username</tt>&rsquo;s grade files for $assignment. The grade
is broken into groups; each group was handled by one grader.
</p>

<div class="admonition note">
    <p class="admonition-title">Grading issues</p>
    <p>
    If you have a concern about how an assignment was graded, please
    <a href="concerns.php">file a grading concern</a>.
    </p>
</div>

<div class="grade">
$rows
</div>
