<a href="index.php" class="button">&larr; Back to submissions page</a>

<h1>Grade details for $assignment</h1>

<p>
Showing <tt>$username</tt>&rsquo;s grade files for $assignment. The grade
is broken into groups; each group was handled by one grader.
</p>

<p>
The symbols <tt>&#xb7;</tt>, <tt>&#x2500;&#x2500;&#x2500;&#x2524;</tt>, and
<tt>&#x21a9;</tt> are used to represent the usually invisible space, tab, and
newline characters, respectively.
</p>

<div class="admonition note">
    <p class="admonition-title">Grading concerns</p>
    <p>
    If you would like to dispute a grade or would like further
    explanation of a deduction, please visit the
    <a href="concerns.php">grading concerns page</a>.
    </p>
</div>

<div class="grade">
$rows
</div>
