<a href="index.php" class="button">&larr; Back to submissions page</a>

<h1>Grade details for $assignment</h1>

<p>
Showing <tt>$username</tt>&rsquo;s grade files for $assignment.
If the grading for this assignment was handled by multiple graders, the
grade given by each grader is shown separately, in its own file.
</p>

<p>
The symbols <tt>&#xb7;</tt>, <tt>&#x2500;&#x2500;&#x2500;&#x2524;</tt>, and
<tt>&#x21a9;</tt> are used to represent the usually invisible space, tab, and
newline characters, respectively.
</p>

<div class="grade">
$rows
</div>
