<a href="login.php">&larr; Back to log in page</a>

<h1>Register</h1>

<p>
Please enter your Kerberos user name. This is the user name you use for
StudentLink and BU e-mail. An access code will be sent to your e-mail
inbox.
</p>

<div class="admonition note">
<p class="admonition-title">Note</p>
<p>
As part of Lab 0, you should have set up your CS account by using one
of the computers in the undergraduate CS lab. If you have not yet done
this, registering for Apollo will not work.
</p>
</div>

<form method="post">

<div class="row">
    <div class="left">Kerberos user name</div>
    <div class="right">
        <input type="text" required="required" name="username">
        <div class="caption">
        This is the user name you use for StudentLink and BU e-mail.
        </div>
    </div>
</div>

<div class="row">
    <div class="left"></div>
    <div class="right">
        <input type="submit">
        <div class="caption">
        You will be sent an e-mail with an access code.
        </div>
    </div>
</div>

<input type="hidden" name="submitted">
</form>
