<a href="logout.php" class="button">&larr; Log out</a>

<h1>Homework submissions</h1>

<div class="toc">
    <ul>
        <li><a href="#problemsets">Problem sets</a></li>
        <li><a href="#labs">Labs</a><ul>
    </ul>
</div>

<p>
Showing upload links and grade information for the user <tt>$username</tt>.
The link for uploading files will be activated one week before the
assignment's due date.
</p>

<h2 id="problemsets">Problem sets</h2>
<div class="grades problemsets">
$psrows
</div>

<h2 id="labs">Labs</h2>
<div class="grades labs">
$labrows
</div>
