<a href="logout.php" class="button">&larr; Log out</a>

<h1>Homework submissions</h1>

<div class="toc">
    <ul>
        <li><a href="#problemsets">Problem sets</a></li>
        <li><a href="#labs">Labs</a><ul>
    </ul>
</div>

<p>
Showing upload links and grade information for the user <tt>$username</tt>.
<!--
The link for uploading files will be activated one week before the
assignment's due date.
-->
If one or more grade files have been posted for an assignment, you can
select <i>View grade</i> to see details.
</p>

<!--
If you have a concern about how
an assignment was graded, please visit the
<a class="php" href="concerns.php">grading concerns page</a>.
-->

<h2 id="problemsets">Problem sets</h2>
<div class="grades problemsets">
$psrows
</div>

<h2 id="labs">Labs</h2>
<div class="grades labs">
$labrows
</div>
